@import url('mystyle.css');

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: 40px 0 10px 0;
}
#header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#profile img {
    width: 40px;
    margin-left: 20px;
}

/* brand container*/
ul {
    list-style: none;
    padding: 0;
}
#brand-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.list-brand {
    text-align: center;
    width: 20%;
    background-color: white; 
    padding: 20px; 
    margin: 20px;
    border-radius: 8px;  /* Round the corners of the form by 8px */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);  /* shadow around  */
}
.list-brand:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);  /* shadow around  */
    cursor: pointer;
}

/* elements inside the container */
img {
    width: 80%;
    margin: 20px 0;
}
.list-brand-model {
    margin: 15px 0;
}
.list-brand-model a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.list-brand-model a:hover {
    color: #ff6600;
}

/* about us */
footer a {
    color: gray;
}
footer a:hover {
    text-decoration: underline;
}