@import url("mystyle.css");

/* button container */
#logout-block {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px; /* Round the corners of the form by 8px */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* shadow around  */
    width: 300px;
    color: black;
    margin: 0 auto; /*form centered*/
}

/* login button */
#login {
    background-color: #0066cc;
}
#login:hover {
    background-color: #004d99; /* darker blue when hovered */
}
