@import url('mystyle.css');
a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 30px;
}


h1 {
    margin: 40px 0px 30px 0px;
    text-align: center;
}

hr {
    margin: 0px 100px;
    background-color: lightgray;
    border: 0px;
    height: 1px;
}

/* product list */
ul {
    margin: 40px 0px 20px 0px;
    padding-left: 0px;
    list-style-type: none;              
}
ul li {
    text-align: center;
    margin-bottom: 20px;
}
li a {
    font-size: large;
}
li a:hover {
    font-weight: bold;
}
li a:active {
    color: #004d99;
}