/* General document styles */


body {
    font-family: "Arial";
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9ff;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    text-align: right; /* Align text to the right for paragraphs */
}

a {
    color: blue;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

th {
    background-color: lightgray;
}

ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 10px 0;
}

ul li {
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
}

ul li ul {
    margin-top: 5px;
}

ul li ul li {
    font-weight: normal;
    margin-left: 20px;
}

footer {
    margin-top: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px; /* Round the corners of the form by 8px */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* shadow around  */
    width: 300px;
    margin: 0 auto; /*form centered*/
}

label {
    font-size: 14px;
}

/* input fields and buttons */
input[type="text"],
input[type="password"],
input[type="submit"],
button {
    width: 90%; /* width of input fields and buttons to 90% of the container */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /*light gray border around the input fields and buttons */
    border-radius: 4px;
    font-size: 14px;
}

/*submit button*/
input[type="submit"] {
    width: 100%;
    background-color: #0066cc;
    color: white; /* text color white */
    cursor: pointer; /* cursor to a pointer when hovering o*/
    border: none;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #004d99; /* darker blue when hovered */
}

/* register button */
button {
    width: 100%;
    background-color: #ff6600;
    color: white; /* text color white */
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #cc5200;
}

fieldset {
    border: 2px solid #ccc;
    padding: 20px; /* 20px padding in fieldset */
    border-radius: 8px; /* round the corners */
}

legend {
    font-size: 16px;
    font-weight: bold; /*legend text bold */
}
