/* General document styles */
body {
    font-family: "sans-serif";
    font-size: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 20px; /* Add space below the heading */
}

p {
    text-align: right; /* Align text to the right for paragraphs */
}

a {
    color: blue;
    text-decoration: none;
    display: block; /* Ensures links appear in a new line if needed */
    margin-bottom: 10px; /* Adds spacing between links */
}

a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

/* Table header styles */
th {
    background-color: lightgray;
}

/* List Styling for categories */
ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 10px 0;
}

ul li {
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
}

ul li ul {
    margin-top: 5px;
}

ul li ul li {
    font-weight: normal;
    margin-left: 20px;
}

/* Footer links */
footer {
    margin-top: 20px;
}

footer a {
    color: blue;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: darkblue;
}
