/* General document styles */
body {
    font-family: "Arial";
    font-size: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    text-align: right; /* Align text to the right for paragraphs */
}

a {
    color: blue;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

th {
    background-color: lightgray;
}

ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 10px 0;
}

ul li {
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
}

ul li ul {
    margin-top: 5px;
}

ul li ul li {
    font-weight: normal;
    margin-left: 20px;
}

footer {
    margin-top: 20px;
}
