/* General document styles */

/* light & dark Mode */
:root[color-theme="light"] {
    --background: #ffffff;
    --textColor: #000000;
}

:root[color-theme="dark"] {
    --background: #262626;
    --textColor: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: 40px 0 10px 0;
}

#header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#profile img {
    width: 40px;
    margin-left: 20px;
}


a {
    color: var(--textColor);
    text-decoration: none;
}

/* General button style */
button {
    width: 100%;
    background-color: #ff6600;
    color: white; /* text color white */
    cursor: pointer;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 14px;
}

button:hover {
    /* hover effect for button */
    background-color: #cc5200;
}

footer {
    text-align: center;
    padding: 20px 0;
}

/* Bottom link */
footer a {
    display: block;
    margin-bottom: 10px;
}
#home {
    color: #ff6600;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}
#home:hover {
   font-weight: bold;
}

/* dark mode icon */
#dark-mode {
    width: 40px;
    padding: 12px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); /* shadow around  */
    border-radius: 100%;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
#dark-mode:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3); /* shadow around  */
}
#logo img{
    width: 60px;
}