@import url("mystyle.css");
#product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* product image and options container */
#product-container {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 20px 0;
}
#product-container img {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    margin-right: 30px;
}
#product-option {
    margin-top: 20px;
    width: 100%;
    text-align: start;
}
#product-option h1 {
    margin: 40px 0;
}
#product-option p {
    font-size: 18px;
}

/* Style for Options */
#product-option {
    width: 500px;
}
fieldset {
    padding: 26px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: start;
}
legend {
    text-align: start;
    padding: 0px 10px;
    font-weight: bold;
}
#color {
    margin-top: 8px;
}
#storage {
    display: inline-block;
    margin-bottom: 8px;
}
select {
    margin-bottom: 15px;
    border: 0px;
    padding: 2px 5px;
    background-color: #dedede;
    border-radius: 10px;
}

/* Style for Add to Cart button */
input[type="submit"] {
    width: 100%;
    background-color: #ff6600;
    color: white; /* text color white */
    cursor: pointer;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 14px;
}
input[type="submit"]:hover {
    background-color: #cc5200; /* darker red when hovered */
}

/* features */
table {
    border-spacing: 30px;
}
caption {
    font-size: 24px;
    margin: 60px 0 20px 0;
}
td {
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px; /* Round the corners of the form by 8px */
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1); /* shadow around  */
    width: 300px;
}
