@import url("mystyle.css");

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0;        
    margin-bottom: 3px;
    border-radius: 3px;       
    overflow: hidden;         
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

strong {
    font-weight: bold;
}

button, input[type="submit"] {
    background-color:#ff6600;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

button:hover, input[type="submit"]:hover {
    background-color: #cc5200;
}

p {
    margin: 10px 0;
}

footer {
    margin-top: 20px;
}

footer a {
    color: gray;
}



.red-msg {
    color: red;
    font-weight: bold;
}